<div class="card-profil">

  <% @profiles.each do |profile| %>
    <div class="card <%= 'bordered' if profile.id.to_s == params[:child] %>" >
      <%= link_to request.params.merge(child: profile.id) do %>
        <div class= "card_int">
            <% if profile.picture.attached? %>
              <%= cl_image_tag(profile.picture.key, class: 'card_img') %>
            <% else %>
              <%= image_tag 'avatar_default.png', class: 'card_img' %>
            <% end %>
              <div class="card_name">
                  <strong><%= profile.nickname %></strong>
                  <%# <%= (Date.today - profile.birth_date).to_i / 365 %>
                <div class= "catego">
                  <%= profile.category.name %>
                </div>
              </div>
        </div>

        <span class="card_action">
          <%= link_to edit_profile_path(profile), class: "edit-button" do %>
            <i class="fa-solid fa-pen" style="color: #0d0c0c;"></i>
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>

  <div class="card-new-profile">
    <%= link_to new_profile_path, class:"add-button" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    <% end %>
  </div>
</div>
