<div class="flex-container">
  <div class="main">

    <%= render "shared/navbar" %>

    <div class="parent">

      <div class="div1">
        <%= render 'card_today' %>
      </div>

      <div class="div2">
        <%= render 'card_weeks' %>
      </div>

      <div class="div4">
        <%= render 'card_urls' %>
      </div>
    </div>
  </div>

  <div class="profils">
    <h4>Profils</h4>
    <%= render 'card_profiles' %>
  </div>
</div>

<%# <!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @offer.description %>
<%# <% content_for :meta_image, cl_image_path(@offer.photo.path) %>
